*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}

.todo-container{
    padding-block: 40px;
    width:70%;
    margin: auto;
}

.add-todo{
    width: fit-content;
    margin: auto;
    margin-block: 16px;
}

ul{
    display: block;
    max-width: 500px;
}
li{
    display: flex;
    justify-content: space-between;
}
input{
    padding-left:8px;
}

